*.asv
/1_0_Find_probe_pos/models
/1_0_Find_probe_pos/models_above_FP2
/1_0_Find_probe_pos/models_on_FP2
/1_0_Find_probe_pos/models_ver3
/1_0_Find_probe_pos/models_ZJ_setting
/1_0_Find_probe_pos/results

/1_2_Calculate_cv/KB
/1_2_Calculate_cv/results

/1_3_MCX_lookup_table/BY
/1_3_MCX_lookup_table/KB
/1_3_MCX_lookup_table/models
/1_3_MCX_lookup_table/results
/1_3_MCX_lookup_table/WH
/1_3_MCX_lookup_table/WW
/1_3_MCX_lookup_table/ZJ
/1_3_MCX_lookup_table/models_ZJ_setting

/1_4_MCX_lookup_table_dataGen/KB
/1_4_MCX_lookup_table_dataGen/KB_2023-10-16-20-18-50
/1_4_MCX_lookup_table_dataGen/KB_2023-12-31-18-11-02
/1_4_MCX_lookup_table_dataGen/KB_test1_2023-10-17-16-59-12
/1_4_MCX_lookup_table_dataGen/results_interp
/1_4_MCX_lookup_table_dataGen/results_smooth
/1_4_MCX_lookup_table_dataGen/WH
/1_4_MCX_lookup_table_dataGen/WH_2023-11-14-21-53-01
/1_4_MCX_lookup_table_dataGen/WH_test1_2023-11-14-21-57-04
/1_4_MCX_lookup_table_dataGen/WH_test1_2023-12-31-18-08-28
/1_4_MCX_lookup_table_dataGen/ZJ
/1_4_MCX_lookup_table_dataGen/ZJ_2023-11-01-14-06-20
/1_4_MCX_lookup_table_dataGen/ZJ_test1_2023-11-01-14-17-15

/1_5_ANN_training/KB_2023-10-11-20-35-47
/1_5_ANN_training/KB_interpolation_result_cw
/1_5_ANN_training/MC_sim_as_ground_truth_to_compare
/1_5_ANN_training/ZJ_2023-11-01-14-22-50
/1_5_ANN_training/WH_2023-11-14-21-59-44

/1_6_caliberation/20240306
/1_6_caliberation/20201209_test_14/extracted_spec
/1_6_caliberation/Test_data_20240308
bu*

/1_7_ANN_fitting_no_mask_no_weight/initValue_database_2
/1_7_ANN_fitting_no_mask_no_weight/KB
/1_7_ANN_fitting_no_mask_no_weight/model_arrange
/1_7_ANN_fitting_no_mask_no_weight/results
/1_7_ANN_fitting_no_mask_no_weight/test_fitting_2023-08-21-12-29-30
/1_7_ANN_fitting_no_mask_no_weight/test_fitting_2023-09-12-12-24-40
/1_7_ANN_fitting_no_mask_no_weight/test_fitting_2023-10-12-00-56-05
/1_7_ANN_fitting_no_mask_no_weight/test_fitting_2023-10-23-20-43-07
/1_7_ANN_fitting_no_mask_no_weight/test_fitting_2023-10-25-17-10-38_good_except_5
/1_7_ANN_fitting_no_mask_no_weight/test_fitting_2023-10-27-23-00-41
/1_7_ANN_fitting_no_mask_no_weight/test_fitting_2023-10-31-21-57-22

/1_7_ANN_fitting_with_mask_with_weight/fitted_result
/1_7_ANN_fitting_with_mask_with_weight/initValue_database_2
/1_7_ANN_fitting_with_mask_with_weight/initValue_database_2_conference
/1_7_ANN_fitting_with_mask_with_weight/KB
/1_7_ANN_fitting_with_mask_with_weight/model_arrange
/1_7_ANN_fitting_with_mask_with_weight/results
/1_7_ANN_fitting_with_mask_with_weight/test_fitting_2024-01-11-12-32-07
/1_7_ANN_fitting_with_mask_with_weight/test_fitting_2024-01-13-15-46-39_same_noise
/1_7_ANN_fitting_with_mask_with_weight/test_fitting_2024-01-21-12-09-54_new_cw_ANN
/1_7_ANN_fitting_with_mask_with_weight/initValue_database_2

/20230710_cal_sensitivity/PL_1.mat
/20230710_cal_sensitivity/model_arrange
/20230710_cal_sensitivity/New Folder

/20230928_Smooth_test/1_3_MCX_lookup_table_smooth_test/KB_378
/20230928_Smooth_test/1_3_MCX_lookup_table_smooth_test/KB_high_scattering
/20230928_Smooth_test/1_3_MCX_lookup_table_smooth_test/KB_high_scattering_skull
/20230928_Smooth_test/1_3_MCX_lookup_table_smooth_test/KB_low_scattering
/20230928_Smooth_test/1_3_MCX_lookup_table_smooth_test/KB_low_scattering_skull
/20230928_Smooth_test/1_3_MCX_lookup_table_smooth_test/KB_main
/20230928_Smooth_test/1_3_MCX_lookup_table_smooth_test/KB_test

/MRI_segmentation/Andy_KB_template

/continuous-wave/1_3_MCX_lookup_table_CW
/continuous-wave/1_4_datagen/KB
/continuous-wave/1_4_datagen/results_smooth
/continuous-wave/1_4_MCX_lookup_table_dataGen/KB_2024-01-20-22-37-17
/continuous-wave/1_5_ANN_training/KB_2024-01-21-09-59-40
/continuous-wave/1_5_ANN_training/KB_2024-01-21-15-34-26
/continuous-wave/1_5_ANN_training/KB_2024-01-21-15-52-24
