/1_0_Find_probe_pos/models
/1_0_Find_probe_pos/models_above_FP2
/1_0_Find_probe_pos/models_on_FP2
/1_0_Find_probe_pos/models_ver3
/1_0_Find_probe_pos/models_ZJ_setting
/1_0_Find_probe_pos/results

/1_2_Calculate_cv/KB
/1_2_Calculate_cv/results

/1_3_MCX_lookup_table/BY
/1_3_MCX_lookup_table/KB
/1_3_MCX_lookup_table/models
/1_3_MCX_lookup_table/results
/1_3_MCX_lookup_table/WH
/1_3_MCX_lookup_table/WW
/1_3_MCX_lookup_table/ZJ
/1_3_MCX_lookup_table/models_ZJ_setting

/1_4_MCX_lookup_table_dataGen/KB
/1_4_MCX_lookup_table_dataGen/KB_2023-10-16-20-18-50
/1_4_MCX_lookup_table_dataGen/KB_2023-12-31-18-11-02
/1_4_MCX_lookup_table_dataGen/KB_test1_2023-10-17-16-59-12
/1_4_MCX_lookup_table_dataGen/results_interp
/1_4_MCX_lookup_table_dataGen/results_smooth
/1_4_MCX_lookup_table_dataGen/WH
/1_4_MCX_lookup_table_dataGen/WH_2023-11-14-21-53-01
/1_4_MCX_lookup_table_dataGen/WH_test1_2023-11-14-21-57-04
/1_4_MCX_lookup_table_dataGen/WH_test1_2023-12-31-18-08-28
/1_4_MCX_lookup_table_dataGen/ZJ
/1_4_MCX_lookup_table_dataGen/ZJ_2023-11-01-14-06-20
/1_4_MCX_lookup_table_dataGen/ZJ_test1_2023-11-01-14-17-15

/1_5_ANN_training/KB_2023-10-11-20-35-47
/1_5_ANN_training/KB_interpolation_result_cw
/1_5_ANN_training/MC_sim_as_ground_truth_to_compare
/1_5_ANN_training/ZJ_2023-11-01-14-22-50
/1_5_ANN_training/WH_2023-11-14-21-59-44

